#credits {
  display: flex;
  max-width: 1100px;
  align-items: center;
  padding-top: 40px;
}

.ending-credits {
  font-family: "NTR", sans-serif;
  color: white;
  text-align: center;
  width: 100%;
  font-size: 20px;
  padding-bottom: 40px;
}
