.mod-cont {
  max-width: 1100px;
  height: auto;
  text-align: left;
  padding: 20px;
}
#mod-title {
  font-family: "Courier New", monospace;
  color: #90fc6b;
  font-size: 30px;
  margin-left: 20px;
  padding-bottom: 10px;
  word-spacing: -4px;
}
#mod-desc {
  font-family: "Courier New", monospace;
  color: white;
  font-size: 20px;
  margin-left: 20px;
  word-spacing: -4px;
}
#mod-area {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}
